
/* Universal Typography
---------------------------------------------------------------------------------------------------- */

@font-face {
  	font-family: 'museo';
  	src: url('../fonts/museo.eot');
  	src: url('../fonts/museo.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/museo.woff') format('woff'),
    		url('../fonts/museo.ttf') format('truetype');
  	font-weight: 200;
  	font-style: normal;
}

// Colors: Font colors.

$font-normal: #ccac6d;
$font-dark: #ccac6d;

// Styles: Font styles.

body {
    font-family: 'museo', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    color: $font-normal;
}

h1 {
    font-size: 42px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: $font-dark;

    margin-bottom: 9px;
}

a {
    color: $font-dark;
}
