
/* The Panel Class: Used for all panels (login forms, videos, etc.).
---------------------------------------------------------------------------------------------------- */

.panel {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;

  background-color: $lighter;

  animation-duration: .5s;
  animation-fill-mode: both;

  .close {
    &:before,
    &:after {
      background-color: $lighter;
    }
  }

  .cover,
  .image {
    width: 110%;
    height: 110%;

    position: absolute;
    z-index: -2;
    top: -5%;
    left: -5%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &.blurred {
      -webkit-filter: blur(14px);
      filter: blur(14px);
    }
  }

  .cover {
    z-index: -1;
  }

  .image {
    z-index: -2;
  }

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  // Video panels.

  @import 'panel-video';

  // Panel animations.

  &.opening {
    animation-name: panel-opening;
  }

  &.active {
    transform: translate3d(0, 0, 0);
  }

  &.closing {
    animation-name: panel-closing;
  }

  &.inactive {
    top: 100%;
  }
}

/* Opening and Closing
---------------------------------------------------------------------------------------------------- */

@keyframes panel-opening {
  0% {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);

    opacity: 0;
  }

  100% {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 0, 0);

    opacity: 1;
  }
}

@keyframes panel-closing {
  0% {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 0, 0);

    opacity: 1;
  }

  100% {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);

    opacity: 0;
  }
}
