
/***********************************************************************************
The Background Video
************************************************************************************/

#video {
    @include background-image("video-background.jpg");
    background-position: center center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    z-index: 10;

    overflow: hidden;

    video {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 25%;
        z-index: 10;

        @media (min-aspect-ratio: 16/9) {
            width: 100%;
            height: auto;

            height: 300%;
            top: -100%;
        }

        @media (max-aspect-ratio: 16/9) {
            width: auto;
            height: 100%;

            width: 300%;
            left: -100%;
        }

        // Respond: Fill the screen.

        @media ($break-m) {
            display: none;
        }
    }
}
